# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/workspace.xml
cmake-build-debug/CMakeFiles/3.14.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/cmake_install.cmake
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeCache.txt
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/build.make
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/depend.make
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/flags.make
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/link.txt
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/objects1.rsp
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_d8a3c.dir/progress.make
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/CMakeTmp/CMakeLists.txt
cmake-build-debug/CMakeFiles/CMakeTmp/Makefile
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
CMakeLists.txt
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/build.make
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/depend.make
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/flags.make
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/link.txt
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/objects1.rsp
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/progress.make
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/list_of_conquests_v1c7or20.cbp
cmake-build-debug/Makefile
.idea/list-of-conquests-v1c7or20.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/feature_tests.bin
.idea/.name
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/CXX.includecache
cmake-build-debug/CMakeFiles/list_of_conquests_v1c7or20.dir/depend.internal
